<!DOCTYPE html>
    <head>
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="files/resources/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="files/resources/css/style1.css" class="css_style" />
		<script type="text/javascript" src="files/resources/js/modernizr.custom.86080.js"></script>
    </head>
	
    <body>
	<div id="page">
        <ul class="cb-slideshow">

            {%- for item in images %}
                  {%- for txt in txt_file %}
            <li><span><img src="{{ item }}"/></span><div><h3>{{ txt }}</h3></div></li>
                  {% endfor %}  
            {%- endfor %}

        </ul>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href=""><strong></strong></a>
                <span class="right">
                    <a href="" target="_blank">Photography by Austin Lazarus</a>
                    <a href="" target="_blank">CC BY-SA 2.0</a>
                    <a href="">
                        <strong>Powered by BudgEat.co</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>

                {% if not company_txt_file, company_slogan_txt_file %}
                    <h1>Welcome! <span>Please add your Company name</span></h1>
                    <h2>and Company slogan</h2>
                {% else %}
                    <h1>Welcome! <span>{{ company_txt_file }}</span></h1>
                    <h2>{{ company_slogan_txt_file }}</h2>
                {% endif %}        
                
				<p class="codrops-demos">
					<a href="#" class="current-demo"></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
				</p>
            </header>
        </div>
	</div>

	<div id="page2" style="display:none;">
	        <ul class="cb-slideshow">
            <li><span><img src="files/1.jpg"/></span><div><h3>local·cuisine</h3></div></li>
            <li><span><img src="files/2.jpg"/></span><div><h3>tasty·pastries</h3></div></li>
            <li><span><img src="files/3.jpg"/></span><div><h3>delicious·meals</h3></div></li>
            <li><span><img src="files/4.jpg"/></span><div><h3>humble·beginnings</h3></div></li>
            <li><span><img src="files/5.jpg"/></span><div><h3>great·service</h3></div></li>
            <li><span><img src="files/6.jpg"/></span><div><h3>freshly·dominican</h3></div></li>
        </ul>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href=""><strong></strong></a>
                <span class="right">
                    <a href="" target="_blank">Photography by Austin Lazarus</a>
                    <a href="" target="_blank">CC BY-SA 2.0</a>
                    <a href="">
                        <strong>Powered by BudgEat.co</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Welcome! <span>to Guiyave</span></h1>
                <h2>Restaurant & Catering Service</h2>
				<p class="codrops-demos">
					<a href="#" class="current-demo"></a>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
				</p>
            </header>
        </div>
	</div>

	<div id="page3" style="display:none;">
		    <ul class="cb-slideshow">
            <li><span><img src="files/1.jpg"/></span><div><h3>local·cuisine</h3></div></li>
            <li><span><img src="files/2.jpg"/></span><div><h3>tasty·pastries</h3></div></li>
            <li><span><img src="files/3.jpg"/></span><div><h3>delicious·meals</h3></div></li>
            <li><span><img src="files/4.jpg"/></span><div><h3>humble·beginnings</h3></div></li>
            <li><span><img src="files/5.jpg"/></span><div><h3>great·service</h3></div></li>
            <li><span><img src="files/6.jpg"/></span><div><h3>freshly·dominican</h3></div></li>
        </ul>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href=""><strong></strong></a>
                <span class="right">
                    <a href="" target="_blank">Photography by Austin Lazarus</a>
                    <a href="">CC BY-SA 2.0</a>
                    <a href=""><strong>Powered by BudgEat.co</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Welcome! <span>To Guiyave</span></h1>
                <h2>Restaurant & Catering Service</h2>
				<p class="codrops-demos">
					<a href=""></a>
					<a href=""></a>
					<a class="current-demo" href="#"></a>
					<a href=""></a>
				</p>
            </header>
        </div>
	</div>
	
	<div id="page4" style="display:none;">
        <ul class="cb-slideshow">
            <li><span><img src="files/1.jpg"/></span><div><h3>local·cuisine</h3></div></li>
            <li><span><img src="files/2.jpg"/></span><div><h3>tasty·pastries</h3></div></li>
            <li><span><img src="files/3.jpg"/></span><div><h3>delicious·meals</h3></div></li>
            <li><span><img src="files/4.jpg"/></span><div><h3>humble·beginnings</h3></div></li>
            <li><span><img src="files/5.jpg"/></span><div><h3>great·service</h3></div></li>
            <li><span><img src="files/6.jpg"/></span><div><h3>freshly·dominican</h3></div></li>
        </ul>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href=""><strong></strong></a>
                <span class="right">
                    <a href="" target="_blank">Photography by Austin Lazarus</a>
                    <a href="" target="_blank">CC BY-SA 2.0</a>
                    <a href=""><strong>Powered by BudgEat.co</strong></a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Welcome! <span>To Guiyave</span></h1>
                <h2>Restaurant & Catering Service</h2>
				<p class="codrops-demos">
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
					<a class="current-demo" href=""></a>
				</p>
            </header>
        </div>
	</div>

	<script src="files/resources/js/jquery.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	if (new Date().getMinutes() >= 15) {
		$("#page").css("display","none");
		$("#page2").css("display","block");
		$(".css_style").attr("href","files/resources/css/style2.css");
	} 
	if (new Date().getMinutes() >= 30 ) {
		$("#page").css("display","none");
		$("#page2").css("display","none");
		$("#page3").css("display","block");
		$(".css_style").attr("href","files/resources/css/style3.css");
	} 
	if (new Date().getMinutes() >= 45 ) {
		$("#page").css("display","none");
		$("#page2").css("display","none");
		$("#page3").css("display","none");
		$("#page4").css("display","block");
		$(".css_style").attr("href","files/resources/css/style4.css");
	}
	if (new Date().getMinutes() >= 60 ) {
		$("#page").css("display","block");
		$("#page2").css("display","none");
		$("#page3").css("display","none");
		$("#page4").css("display","none");
		$(".css_style").attr("href","files/resources/css/style1.css");
	}
	setTimeout(function () {
    window.location.reload(1);
	}, 50000);  // After 5 mins
	});
	</script>
    </body>
</html>